<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sample-azfunc-dotnet-vs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/43ea1964-f94b-44da-95ba-6325e610c0d1/resourceGroups/sample-azure-functions-basic/providers/Microsoft.Web/sites/sample-azfunc-dotnet-vs</ResourceId>
    <UserName>$sample-azfunc-dotnet-vs</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://sample-azfunc-dotnet-vs.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>